$body-bg: #616161;

#progress, .progressupload {
  height: 20px;
  display: flex;
  opacity: 1;
  background-color: #60d146;
  width: 50%;
  max-width: 100%;
}

#intro-preview, #techdiff-preview, #conc-preview, #slide-clear-btn {
  height: 150px;
  max-width: 25%;
  border: 2px solid #3D3D3D;
}

#ppt-group-select {
  min-width: 20%;
  max-width: 25%;
  background-color: #4c4c4c;
}

#intro-preview, #techdiff-preview, #conc-preview {
  background-size: cover;
  background-blend-mode: multiply;
  padding: 0;
  display: inline-flex;
  align-items: flex-end;
}

#slide-clear-btn, #video-clear-btn {
  background-color: #2ecc71;
}

#slide-btn-container, #video-btn-container {
  border: 3px solid #3D3D3D;
}

.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.login-body {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login {
  width: 360px;
  height: min-content;
  padding: 20px;
  border-radius: 12px;
  background: #ffffff;
}

.login h1 {
  font-size: 36px;
  margin-bottom: 25px;
}

.login form {
  font-size: 20px;
}

.login form .form-group {
  margin-bottom: 12px;
}

.login form input[type="submit"] {
  font-size: 20px;
  margin-top: 15px;
}

.login form .form-control:focus {
  background-color: #ffffff;
}

.login form .form-check-input {
  appearance: auto;
}

.activated {
  box-shadow: 0px 13px 5px -5px #b2de27, 0px -11px 5px -5px #b2de27;
}

.deactivated {
  box-shadow: none;
}

#pending-btn {
  background-color: #fff000;
  //border: 2px solid #3D3D3D;
  height: 70px;
  width: 150px;
  font-size: 20px;
  cursor: pointer;
}

#live-btn {
  background-color: #2ecc71;
  //border: 2px solid #3D3D3D;
  height: 70px;
  width: 150px;
  font-size: 20px;
  cursor: pointer;
}

#technical-diff-btn {
  background-color: #f9690e;
  //border: 2px solid #3D3D3D;
  height: 70px;
  width: 150px;
  font-size: 20px;
  cursor: pointer;
}

#archive-btn {
  background-color: #ff4c30;
  //border: 2px solid #3D3D3D;
  height: 70px;
  width: 150px;
  font-size: 20px;
  cursor: pointer;
}

#pending-btn:hover, #live-btn:hover, 
#technical-diff-btn:hover, #archive-btn:hover {
  font-size: 21px;
  transition: font-size .08s ease-in-out;
}

// avoid button text from overflowing.
#pending-btn, #live-btn, #technical-diff-btn, #archive-btn,
#on-air-text, #on-air-info-text {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  //max-width: 150px;
}

#logout, #stream-settings  {
  cursor: pointer;
  float: right;
  color: white;
}

.bi-gear-fill, .bi-box-arrow-right, .bi-bootstrap-reboot {
  font-size: 32px;
}

#stream-settings:hover, #logout:hover {
  color: #000;
}

#video-players{
  position: relative;
}

#playButton {
  width: 15%;
  max-width: 200px;
  cursor: pointer;
  z-index: 1;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#fullscreenButton {
  position: absolute;
  top: 10px;
  right: 23px;
  width: 32px;
  height: 32px;
}

video {
  // KF 9/13/2022
  // This setting might cause minor problems with click & drag, but it doesn't seem any more or less broken than it 
  // already is!
  width:100%;
}

$primary : white;
$secondary: #4c4c4c;
$btn-hover-bg-shade-amount: 50%;
$btn-active-bg-shade-amount: 75%;

@import "node_modules/bootstrap/scss/_functions";
@import "node_modules/bootstrap/scss/_variables";
@import "node_modules/bootstrap/scss/mixins";

// Import all of Bootstrap's css.
@import 'node_modules/bootstrap/scss/bootstrap';

.check-box-centered {
  padding-left: 6px;
  padding-right: 6px;
  padding-top: 12px;
  padding-bottom: 12px;
  min-height: 42px;
  min-width: 42px;
  display: inline-grid;
  background-color: $secondary;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.video-container{
  aspect-ratio: 16 / 9;
  background-color: $gray-900;
}

#slide-container {
  aspect-ratio: 16/9;
  text-align: center;
  background-color: $gray-900;
}

#slide-img {
  color: $white;
  width: 100%;
  height: 100%;
}

#general-status-bar{
  background-color: $secondary;
  height: 8%;
  width: 75%;
  margin: auto;
  border: none;
  border-radius: 5px;
  color: $primary;
  padding: 0.2rem;
  padding-left: 0.5rem;
  padding-right: 0.5rem;
  text-align: center;
}

#stream-activity-bar {
  margin: auto;
  background-color: $secondary;
  height: 15%;
  width: 75%;
  align-items: center;
  justify-content: center;
  display: flex;
}

#on-air-indicator {
  margin: 0;
  margin-right: 5%;
}

.bi-broadcast-lg {
  font-size: 40px;
  color: grey;
}

#on-air-text {
  color: grey;
  font-size: 48px;
  margin: 0;
  margin-right: 5%;
}

#on-air-info-text {
  color: grey;
  font-size: 18px;
  margin: 0;
}

.card-bordered {
  border: 1px solid #ebebeb;
}

.card {
  border: 0;
  border-radius: 0px;
  margin-bottom: 30px;
  -webkit-box-shadow: 0 2px 3px rgba(0,0,0,0.03);
  box-shadow: 0 2px 3px rgba(0,0,0,0.03);
  -webkit-transition: .5s;
  transition: .5s;
}

.padding {
  padding: 3rem !important
}

body {
  //background-color: #f9f9fa
  padding-bottom: 3%;
}

.card-header:first-child {
  border-radius: calc(.25rem - 1px) calc(.25rem - 1px) 0 0;
}


.card-header {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  padding: 15px 20px;
  background-color: transparent;
  border-bottom: 1px solid rgba(77,82,89,0.07);
}

.card-header .card-title {
  padding: 0;
  border: none;
}

h4.card-title {
  font-size: 17px;
}

.card-header>*:last-child {
  margin-right: 0;
}

.card-header>* {
  margin-left: 8px;
  margin-right: 8px;
}

.card-title {
  font-family: Roboto,sans-serif;
  font-weight: 300;
  line-height: 1.5;
  margin-bottom: 0;
  padding: 15px 20px;
  border-bottom: 1px solid rgba(77,82,89,0.07);
}

.form-check-input:checked {
  background-color: #0d6efd;
  border-color: #0d6efd;
}

.ps-container {
  position: relative;
}

.ps-container {
  -ms-touch-action: auto;
  touch-action: auto;
  overflow: hidden!important;
  -ms-overflow-style: none;
}

.media-chat {
  padding-right: 64px;
  margin-bottom: 0;
}

.media {
  padding: 16px 12px;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.media .avatar {
  flex-shrink: 0;
}

.avatar {
  position: relative;
  display: inline-block;
  width: 36px;
  height: 36px;
  line-height: 36px;
  text-align: center;
  border-radius: 100%;
  background-color: #f5f6f7;
  color: #8b95a5;
  text-transform: uppercase;
}

.media-chat .media-body {
  -webkit-box-flex: initial;
  flex: initial;
  display: table;
}

.media-body {
  min-width: 0;
}

.media-chat .media-body p {
  position: relative;
  padding: 6px 8px;
  margin: 4px 0;
  background-color: #f5f6f7;
  border-radius: 3px;
  font-weight: 100;
  color:#9b9b9b;
}

.media>* {
  margin: 0 8px;
}

.media-chat .media-body p.meta {
  background-color: transparent !important;
  padding: 0;
  opacity: .8;
}

.media-meta-day {
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 0;
  color: #8b95a5;
  opacity: .8;
  font-weight: 400;
}

.media {
  padding: 16px 12px;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.media-meta-day::before {
  margin-right: 16px;
}

.media-meta-day::before, .media-meta-day::after {
  content: '';
  -webkit-box-flex: 1;
  flex: 1 1;
  border-top: 1px solid #ebebeb;
}

.media-meta-day::after {
  content: '';
  -webkit-box-flex: 1;
  flex: 1 1;
  border-top: 1px solid #ebebeb;
}

.media-meta-day::after {
  margin-left: 16px;
}

.media-chat.media-chat-reverse {
  padding-right: 12px;
  padding-left: 64px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
  flex-direction: row-reverse;
}

.media-chat {
  padding-right: 64px;
  margin-bottom: 0;
}

.media {
  padding: 16px 12px;
  -webkit-transition: background-color .2s linear;
  transition: background-color .2s linear;
}

.media-chat.media-chat-reverse .media-body p {
  float: right;
  clear: right;
  background-color: #48b0f7;
  color: #fff;
}

.media-chat .media-body p {
  position: relative;
  padding: 6px 8px;
  margin: 4px 0;
  background-color: #f5f6f7;
  border-radius: 3px;
}

.border-light {
  border-color: #f1f2f3 !important;
}

.bt-1 {
  border-top: 1px solid #ebebeb !important;
}

.publisher {
  position: relative;
  display: -webkit-box;
  display: flex;
  -webkit-box-align: center;
  align-items: center;
  padding: 12px 20px;
  background-color: #f9fafb;
}

.publisher>*:first-child {
  margin-left: 0;
}

.publisher>* {
  margin: 0 8px;
}

.publisher-input {
  -webkit-box-flex: 1;
  flex-grow: 1;
  border: none;
  outline: none !important;
  background-color: transparent;
}

button, input, optgroup, select, textarea {
  font-family: Roboto,sans-serif;
  font-weight: 300;
}

.publisher-btn {
  background-color: transparent;
  border: none;
  color: #8b95a5;
  font-size: 16px;
  cursor: pointer;
  overflow: -moz-hidden-unscrollable;
  -webkit-transition: .2s linear;
  transition: .2s linear;
}

.file-group {
  position: relative;
  overflow: hidden;
} 

.publisher-btn {
  background-color: transparent;
  border: none;
  color: #cac7c7;
  font-size: 16px;
  cursor: pointer;
  overflow: -moz-hidden-unscrollable;
  -webkit-transition: .2s linear;
  transition: .2s linear;
} 

.file-group input[type="file"] {
  position: absolute;
  opacity: 0;
  z-index: -1; 
  width: 20px;
}

.text-info {
  color: #48b0f7 !important;
}

.text-right {
  text-align: right !important;
}

.carousel-caption {
  top: 70%;
  font-size: calc(2vw + 1vh);
}

.nav-link, .nav-tabs .nav-link.active {
    color: $white;
}

.nav-link:hover, .nav-link:focus {
    color: $black;
}

.form-control {
    background-color:$white;
    max-width: 400px;
    border: 3px solid $light;
}

.form-control:focus {
  background-color:$white;
  border-color: $light;
}

.form-control:disabled {
  background-color:lightgray;
  border: 3px solid $light;
}

.form-select:disabled {
  background-color:lightgray;
}

.form-control.form-select {
  background-color:$white;
  max-width: 400px;
  border: 3px solid $light;
}

.form-select, .form-select:focus {
    border: 1px solid #4c4c4c;
    background-color: $white;
}

.form-floating {
    margin-bottom: 5px;
}

.overflow-div {
  min-height: 100px;
  max-height: 250px;
  border: none;
}

.streamInput, .streamInput:focus {
    background-color:$white;
    border: 1px solid #4c4c4c;
    margin-bottom: 5px;
    width:100%;
    max-width: 100%;
}

.media-switch-thumb{
  aspect-ratio: 16/9;
  background-size: cover;
  background-color: aliceblue;
  min-width: 100%;
}

.slide-switch-audio-btn{
  width: 50%;
  position: absolute;
}

.media-left-btn{
  @extend .slide-switch-audio-btn;
  left:0;
  bottom:0;
  border-radius: 0px 0px 0px $border-radius;
}

.media-right-btn{
  @extend .slide-switch-audio-btn;
  right:0;
  bottom:0;
  border-radius: 0px 0px $border-radius 0px;
}

.media-delete-btn {
  position: absolute;
  top: 0;
  right: 0;
}

.media-set-as-btn {
  position: absolute;
  top: 0;
  right: 42px;
}

.media-btn-element {
  max-width: 30%;
  min-width: 30%;
  position: relative;
}

.media-btn-label {
  @extend .not-selectable;
  height: 1.5rem;
  overflow: hidden;
  color: $white;
}

::-webkit-scrollbar {
  width: 0.5em;
  height: 0.5em;
}

/* Track */
::-webkit-scrollbar-track {
  background: #f1f1f1; 
  border-radius: var(--bs-border-radius);
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #888; 
  background-clip: padding-box;
  border-radius: var(--bs-border-radius);
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555; 
}

.not-selectable {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

#preview-video-container{
  position: relative;
}

.participant-on-vid-ctrl{
  position: absolute;
  aspect-ratio: 16/9;
}

.participant-on-vid-drag{
  position: absolute;
  opacity: 1%;
  background-color: $gray-500;
  height: 100%;
  width: 100%;
}

.participant-on-vid-drag:hover{
  opacity: 50%;
    cursor: move;
}

.participant-on-vid-options{
  position: absolute;
  left: 87.16%;
  top: 3.51%;
  width: 11.22%;
  height: 18.12%;
  z-index: 1;
  opacity: 1%;
  background-color: $gray-500;
}

.participant-on-vid-options:hover{
  opacity: 50%;
  cursor: pointer;
}

.participant-on-vid-ear {
  position: absolute;
  left: 76.6%;
  top: 79.25%;
  width: 10.12%;
  height: 18.12%;
  z-index: 1;
  opacity: 1%;
  background-color: $gray-500;
}

.participant-on-vid-ear:hover {
  opacity: 50%;
  cursor: pointer;
}

.participant-on-vid-eye {
  position: absolute;
  left: 86.72%;
  top: 79.25%;
  width: 11.62%;
  height: 18.12%;
  z-index: 1;
  opacity: 1%;
  background-color: $gray-500;
}

.participant-on-vid-eye:hover {
  opacity: 50%;
  cursor: pointer;
}

.card {
  background: #fff;
  transition: .5s;
  border: 0;
  margin-bottom: 30px;
  border-radius: .55rem;
  position: relative;
  width: 100%;
  box-shadow: 0 1px 2px 0;
}

.float-right {
  float: right
}

.clearfix:after {
  visibility: hidden;
  display: block;
  font-size: 0;
  content: " ";
  clear: both;
  height: 0
}

#send-message-input {
  min-width: 20%;
  max-width: 100%;
}

#layout-schema-editor div h3 label {
  color: white;
}

input[type=range] {
  cursor: pointer;
  height: .2rem;
  --bs-bg-opacity: 1;
  accent-color: rgba(var(--bs-dark-rgb), var(--bs-bg-opacity));
  border-radius: 0;
}

input[type="range"]::-webkit-slider-thumb {
  border-radius: 50%;
  border: 0;
  transition: .2s ease-in-out;
}

input[type="range"]::-moz-range-thumb {
  border-radius: 50%;
  border: 0;
  transition: .2s ease-in-out;
}

input[type="range"]::-webkit-slider-thumb:hover {
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1)
}
input[type="range"]:active::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(0, 0, 0, 0.2);
}
input[type="range"]:focus::-webkit-slider-thumb {
  box-shadow: 0 0 0 13px rgba(0, 0, 0, 0.2)
}

input[type="range"]::-moz-range-thumb:hover {
  box-shadow: 0 0 0 10px rgba(0, 0, 0, 0.1)
}
input[type="range"]:active::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(0, 0, 0, 0.2);
}
input[type="range"]:focus::-moz-range-thumb {
  box-shadow: 0 0 0 13px rgba(0, 0, 0, 0.2) 
}

#timeline-controls{
  overflow-x: scroll;
}

#add{
  //position: initial;
  //transform: translateY(50%);
  height: 100%;
}

#timeline-box {
 flex: 0 0 500px;
}

#clip-divider {
  flex: 0 0 1px;
}
